<div class="main-body">
    <!-- Your buttons and filter input -->
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- Columns definition -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }}</th>
          <td mat-cell *matCellDef="let row"> {{ row[column] }} </td>
        </ng-container>
  
        
       
  
        <!-- Row definition -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <!-- No data message -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="displayedColumns.length">No data matching the filter</td>
        </tr>
      </table>
  
      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of data"></mat-paginator>
    </div>
  </div>
  